.song-details {
  position: absolute;
  z-index: 1000;
}
.song-details .song-name {
  color: #fff;
  font-size: 14px;
}

.song-details .artist-name {
  color: #aaa;
  font-size: 12px;
}

.forward,
.reverse,
.play {
  padding: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1000;
  overflow: hidden;
  text-overflow: hidden;
}
.playback-btn:hover {
  opacity: 0.9;
}
.playback-btn:action {
  -webkit-box-shadow: inset 1px 1px 10px #333;
  -moz-box-shadow: inset 1px 1px 10px #333;
  box-shadow: inset 1px 1px 10px #333;
}

.playback-controls {
  border-top: 2px outset white;
}

.play {
  flex: 0 1 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.reverse {
  margin-right: auto;
}
.forward {
  margin-left: auto;
}
.forward,
.reverse {
  flex: 0 1 auto;
  max-width: 4em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.forward:hover,
.reverse:hover {
  max-width: 30em;
}
