.playback-btn:hover {
  opacity: 0.9;
}
.playback-btn:action {
  -webkit-box-shadow: inset 1px 1px 10px #333;
  -moz-box-shadow: inset 1px 1px 10px #333;
  box-shadow: inset 1px 1px 10px #333;
}

.playback-btn {
  overflow: hidden;
  text-overflow: ellipsis;
}

.play-button {
  display: flex;
  justify-self: center;
  align-self: center;
  max-height: 3rem;
}

.forward,
.reverse {
  max-width: 4rem;
  overflow: hidden;
  white-space: nowrap;
  max-height: 2rem;
  align-self: center;
}

.forward:hover,
.reverse:hover {
  max-width: 20vw;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
