.playback-btn:hover {
  opacity: 0.9;
}
.playback-btn:action {
  -webkit-box-shadow: inset 1px 1px 10px #333;
  -moz-box-shadow: inset 1px 1px 10px #333;
  box-shadow: inset 1px 1px 10px #333;
}

.playback-controls {
  border-top: 2px outset white;
}

.play {
  flex: 0 1 auto;
  justify-self: center;
}

.forward {
  right: 0;
}

.reverse > button {
  text-align: rtl;
}

.forward,
.reverse {
  flex: 0 1 auto;
  flex-basis: 2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.forward:hover,
.reverse:hover {
  flex-basis: 5em;
  -webkit-transition: flex-basis 0.5s ease-in-out;
  transition: flex-basis 0.5s ease-in-out;
}
