.user-song-item {
  display: flex;
  flex-flow: row nowrap;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #252627;
  cursor: pointer;
}

.user-song-item:hover {
  color: #252627;
  background: #4b88a2;
}

.active {
  color: #252627;
  background: #4b88a2;
}

.selected-user-song-item {
  color: #252627;
  background: #4b88a2;
}

.user-song-item:hover > .song-buttons,
.user-song-item:hover > .play-song {
  opacity: 1;
}

.song-title {
  width: 60%;
}

.song-album {
  width: 20%;
}

.song-artist {
  width: 20%;
}

.song-buttons {
  opacity: 0;
  margin-left: auto;
  justify-content: flex-end;
}
.play-song {
  opacity: 0;
}
.play-song .fa:hover {
  color: #fff;
  opacity: 100;
}

.song-album {
  width: 10%;
}

.song-artist {
  width: 20%;
}

.song-title {
  margin-left: 20px;
  width: 48%;
}

.add-song {
  font-size: 20px;
  cursor: pointer;
  z-index: 1;
}

.add-song .fa {
  -webkit-text-stroke: 3px rgb(24, 24, 24);
}

.add-song .fa:hover {
  -webkit-text-stroke: 2px rgb(24, 24, 24);
}

#song-list {
  scroll-behavior: smooth;
  grid-row: 2/2;
  overflow-x: hidden;
  overflow-y: hidden;
}
