.add-song {
  font-size: 20px;
  cursor: pointer;
  z-index: 1;
}

.add-song .fa {
  -webkit-text-stroke: 3px rgb(24, 24, 24);
}

.add-song .fa:hover {
  -webkit-text-stroke: 2px rgb(24, 24, 24);
}

#song-list {
  scroll-behavior: smooth;
  grid-row: 2/2;
  overflow-x: hidden;
  overflow-y: hidden;
  user-select: unset;
}
