.volume {
  -webkit-appearance: none;
  height: 5px;
  margin: auto 0;
  background: #4caf50;
  border-radius: 4px;
  outline: none;
  opacity: 1;
  grid-column: 2;
}

input[type='range']::-moz-range-track {
  background: #4caf50;
  border-radius: 4px;
  outline: none;
  opacity: 1;
}

.mute {
  grid-column: 1;
}
.volume-container {
  display: grid;
  grid-template-columns: 35% auto;
}

.volume:hover {
  opacity: 0.8;
  background: #4caf50;
}

.volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #fff;
  cursor: pointer;
  border-radius: 50%;
}
