.volume {
  -webkit-appearance: none;
  height: 5px;
  width: 80%;
  margin: auto auto;
  background: #4caf50;
  border-radius: 4px;
  outline: none;
  opacity: 1;
}

input[type='range']::-moz-range-track {
  background: #4caf50;
  border-radius: 4px;
  outline: none;
  opacity: 1;
}

.mute {
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
}
.volume-container {
  display: inline-block;
}

.volume:hover {
  opacity: 0.8;
  background: #4caf50;
}

.volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #fff;
  cursor: pointer;
  border-radius: 50%;
}
