.song-list-options-container {
  display: flex;
  border-bottom: 1px solid #666;
}
.song-list-options {
  display: flex;
  align-content: flex-end;
  margin-left: auto;
  margin-right: 4%;
}


.dropbtn {
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown {
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  direction: rtl;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
}
