song-title-header p,
.song-artist-header p,
.song-album-header p,
.song-length-header p,
.song-list-header p {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #252627;
  height: 2em;
}

.song-header-container {
  grid-row: 1/1;
  margin-left: 60px;
  display: grid;
  grid-template-columns: 50% 20% 10% auto;
  border-bottom: 1px solid #666;
  align-content: center;
}

.activeSort,
.activeSort p,
.song-title-header p:hover,
.song-artist-header p:hover,
.song-album-header p:hover,
.song-list-options i:hover {
  color: #bb0a21;
}
.song-title-header {
  grid-column: 1/1;
}
.song-artist-header {
  grid-column: 2/2;
}
.song-album-header {
  grid-column: 3/3;
}

.song-list-options {
  display: flex;
  padding-right: 2em;
  grid-column: 4/4;
  margin-left: auto;
  justify-content: flex-end;
}
