.side-menu-item {
  list-style-type: none;
  line-height: 28px;
  font-size: 14px;
  width: 140px;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.side-menu-item:hover {
  color: #fff;
}

.bottom {
  bottom: 2px;
}
